img{
    width: 100%;
}
.buttons{
    width: 0,6vw;
    margin: auto;
    text-align: center;
}
.container{
    width: 800px;
    margin: auto;
}
button{
 width: 150px;
 background-color: burlywood;
 font-size: 2rem;
 border-radius: 10%;
}
